@font-face {
	font-family: MoonRising;
	src: url('../../../public/fonts/Moonrising.ttf');
}

@font-face {
	font-family: MadeTommy;
	src: url('../../../public/fonts/MADE\ TOMMY\ Regular.otf');
}

.App {
	display: flex;
	background-color: #2B2F3B;
}

html,
body,
body > div:first-child,
div#__next,
div#__next > div {
		height: 100vh;
		margin: auto;
		width: 100vw;
	}

.Introduction {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	font-size: 1.5vw;
	font-family: MadeTommy;
}

.IntroText {
	width: 500px;
	margin: 10% auto 1% auto ;
	text-align: center;
	align-content: center;
}


.Name {
	font-size: 2.5vw;
}

.Description {
	word-wrap: break-word;
	height:100%;
}

.Separator {
	border-top: 2px solid #bbb;
	border-radius: 5px;
	height: 10px;
	width: 40%;
	margin: 1% auto 1% auto;
}

.AboutLayout {
	display: flex;
	text-align: center;
	align-content: center;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	width: 100%;
	margin: 0% auto 0% auto;
}

.Tools {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 50%;
	justify-content: space-evenly;
	align-content: center;
	margin: 0% auto auto auto;
	height: 100%;
}
