@font-face {
	font-family: MoonRising;
	src: url('../../../public/fonts/Moonrising.ttf');
}

@font-face {
	font-family: MadeTommy;
	src: url('../../../public/fonts/MADE\ TOMMY\ Regular.otf');
}

.App {
		display: flex;
		background-color: #2B2F3B;
}

 html,
			body,
			body > div:first-child,
			div#__next,
			div#__next > div {
				max-height: 100%;
				margin: auto;
			}

.IntroText {
	width: 500px;
	margin: 10% auto 1% auto ;
}

.Introduction {
	font-size: 25px;
	font-family: MadeTommy;
}

.Name {
	font-size: 38px;
}

.Description {
}

.Separator {
	border-top: 2px solid #bbb;
	border-radius: 5px;
	height: 10px;
	width: 40%;
	margin: 1% auto 1% auto;
}

.AboutLayout {
	display: flex;
	text-align: center;
	align-content: center;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	width: 100%;
}

.Tools {
	display: flex;
	width: 50%;
	justify-content: center;
	align-content: center;
	height: 50%;
	margin: 0% auto auto auto;
}

.Languages {
	display: flex;
	align-content: flex-start;
	align-items: center;
	flex-direction: column;
	margin-right: 10%;
}

.Frameworks {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: flex-start;
	width: 15%;
	justify-content: space-evenly;
	margin-right: 10%;
}

.DBs {
	display: flex;
	align-content: flex-start;
	flex-direction: column;
	align-items: center;
}
