.App {
		display: flex;
		background-color: #2B2F3B;
}

 html,
			body,
			body > div:first-child,
			div#__next,
			div#__next > div {
				height: 100%;
				margin: auto;
			}

.IntroText {
	width: 500px;
	margin: 10% auto 1% auto ;
}

.Introduction {
	font-size: 20px;
}

.Name {
	font-size: 30px;
}

.Description {
}

.Separator {
	border-top: 2px solid #bbb;
	border-radius: 5px;
	height: 10px;
	width: 40%;
	margin: 1% auto 1% auto;
}

.AboutLayout {
	display: flex;
	text-align: center;
	align-content: center;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	width: 100%;
}

.Tools {
	width: 65%;
}