.pro-sidebar {
    height: 100vh !important;
}

.pro-sidebar, collapsed {
    height: 100vh !important;
}

.pro-menu-item {
    margin-bottom: 20px;
}

.bars {
    font-size: 25px;
    color: #adadad;
    padding: 25%;
    background-color:rgb(29 29 29);
    justify-content: center;
}

