.pro-sidebar-inner {
	background-color: #333847 !important;
}

.pro-menu {
	margin-top: -10px !important;
}

.pro-icon-wrapper {
	background-color: #454C5F !important;
}

.pro-sidebar, collapsed {
	height: 100vh !important;
}

.pro-menu-item {
	margin-bottom: 20px;
}

.arrows-tab {
	padding-top: 10px;
	padding-left: 9px;
	padding-bottom: 10px;
	padding-right: 10px;
	background-color: #333847;
}

.arrow-right {
	color: #adadad;
	justify-content: center;
	transform: rotateY(0deg);
	transition: transform 0.5s;
}

.arrow-left {
	color: #adadad;
	transform: rotateY(180deg);
	transition: transform 0.5s;
}

.arrow-button {
	font-size: 28px;
	border:0px solid black;
	background-color: transparent;
	width: 60px;
	height: 40px;
}

.arrow-button:hover {
	cursor: pointer;
}

.Sidebar {
	overflow: hidden;
}